<!-- Breadcrumb -->
<ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> <strong>Danh sách đơn</strong>
                </div>
                <div class="card-body">
                    <form novalidate (ngSubmit)="searchOrders()" #form="ngForm">
                        <div class="form-group row">
                            <div class="col-md-7">
                                <input [(ngModel)]="ordersService.search.key" type="text" id="key" name="key"
                                       class="form-control"
                                       placeholder="Tìm kiếm theo MÃ ĐƠN, SỐ SIM, TÊN hoặc SỐ ĐIỆN THOẠI KHÁCH HÀNG">
                            </div>
                            <div class="col-md-3">
                                <select [(ngModel)]="ordersService.search.status" class="form-control" id="status"
                                        name="status">
                                    <option value="">Tất cả trạng thái</option>
                                    <option *ngFor="let item of orderstatus" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="searchOrders()"
                                        class="btn btn-primary">Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Mã đơn</th>
                            <th>Sim</th>
                            <th>Khách hàng</th>
                            <th style="width: 15%">Trạng thái</th>
                            <th style="width: 15%">Ngày đặt mua</th>
                            <th style="width: 15%" class="text-right">Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let order of orders">
                            <td>{{order.order_number}}</td>
                            <td>
                                <p><i class="fa fa-terminal"></i>
                                    {{order.sim.sim_number}}</p>
                                <p><i class="fa fa-usd"></i>
                                    {{order.sim.price}}</p>
                            </td>
                            <td>
                                <p><i class="fa fa-user"></i> {{order.customer.customer_name}}</p>
                                <p><i class="fa fa-phone"></i> {{order.customer.customer_tel}}</p>
                                <p *ngIf="order.customer.customer_addr"><i class="fa fa-info"></i>
                                    {{order.customer.customer_addr}}</p>
                            </td>

                            <td>{{order.order_status_name}}</td>
                            <td>{{order.created_at}}</td>
                            <td class="text-right">
                                <button (click)="editBase(order.id)" class="btn btn-sm btn-ghost-primary" type="button">
                                    Xử
                                    lý
                                    đơn
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="ordersService.search.page"
                                (pageChanged)="pageChanged($event)"
                                class="pagination-sm pull-right" [maxSize]="6"
                                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                lastText="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>