<div class="card">
    <div class="card-header">
        Danh sách order
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Khách hàng</th>
                <th>Số điện thoại</th>
                <th>Ngày order</th>
                <th>Trạng thái</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of basesService.sim.order">
                <td>{{order.order_number}}</td>
                <td>{{order.customer.customer_name}}</td>
                <td>{{order.customer.customer_tel}}</td>
                <td>{{order.created_at}}</td>
                <td>{{order.order_status_name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>