<!-- Breadcrumb -->
<ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="javascript:void(0)" (click)="partnerService.updatePartner()"><i
                    class="fa fa-check-square"></i> &nbsp;Cập nhật</a>
            <a class="btn" href="javascript:void(0)" (click)="backlist()"
               target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
        </div>
    </li>
</ol>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Chi tiết đối tác</strong>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-4">
                        <form novalidate #form="ngForm" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="code">
                                    Code <code class="highlighter-rouge">*</code>
                                </label>
                                <div class="col-md-9">
                                    <input [(ngModel)]="partnerService.partner.code" #code="ngModel" type="text"
                                           id="code"
                                           name="code"
                                           required
                                           class="form-control"
                                           placeholder="Code">
                                    <div [hidden]="code.valid || code.untouched">
                                <span *ngIf="code.errors && code.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Code!
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="email">
                                    Email <code class="highlighter-rouge">*</code>
                                </label>
                                <div class="col-md-9">
                                    <input [(ngModel)]="partnerService.partner.email" #email="ngModel" type="text"
                                           id="email"
                                           name="email"
                                           required
                                           class="form-control"
                                           placeholder="Email">
                                    <div [hidden]="email.valid || email.untouched">
                                <span *ngIf="email.errors && email.errors.required"
                                      class="badge badge-warning">
                                    Phải nhập Email!
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="partnerService.partner.id!=null" class="form-group row">
                                <label class="col-md-3 col-form-label" for="email">
                                    Token
                                </label>
                                <div class="col-md-9">
                                    <label class="col-md-12 col-form-label" for="email">
                                        {{partnerService.partner.token}}
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="partnerService.partner.arr_options!=null" class="form-group row">
                                <label class="col-md-3 col-form-label" for="payment_syntax">
                                    Cấu trúc thanh toán
                                </label>
                                <div class="col-md-9">
                                    <input [(ngModel)]="partnerService.partner.arr_options.payment_syntax"
                                           #payment_syntax="ngModel"
                                           type="text"
                                           id="payment_syntax"
                                           name="payment_syntax"
                                           required
                                           class="form-control"
                                           placeholder="Cấu trúc thanh toán">
                                </div>
                            </div>
                            <div *ngIf="partnerService.partner.arr_options!=null" class="form-group row">
                                <label class="col-md-3 col-form-label" for="trial_period">
                                    Thời gian dùng thử
                                </label>
                                <div class="col-md-9">
                                    <input [(ngModel)]="partnerService.partner.arr_options.trial_period"
                                           #trial_period="ngModel"
                                           type="text"
                                           id="trial_period"
                                           name="trial_period"
                                           required
                                           class="form-control"
                                           placeholder="Thời gian dùng thử">
                                </div>
                            </div>
                            <div *ngIf="partnerService.partner.arr_options!=null" class="form-group row">
                                <label class="col-md-3 col-form-label" for="paid_period">
                                    Thời gian gia hạn
                                </label>
                                <div class="col-md-9">
                                    <input [(ngModel)]="partnerService.partner.arr_options.paid_period"
                                           #paid_period="ngModel"
                                           type="text"
                                           id="paid_period"
                                           name="paid_period"
                                           required
                                           class="form-control"
                                           placeholder="Thời gian gia hạn">
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-->
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>