<!-- Breadcrumb -->
<ol class="breadcrumb">
    <app-breadcrumb></app-breadcrumb>
    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn" href="javascript:void(0)" (click)="updateAgency(template)"><i
                    class="fa fa-check-square"></i> &nbsp;Cập nhật</a>
            <a class="btn" href="javascript:void(0)" (click)="backlist()"
               target="_blank"><i class="fa fa-arrow-left"></i> &nbsp;Quay lại</a>
        </div>
    </li>
</ol>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Chi tiết đại lý</strong>
                </div>
                <div class="card-body">
                    <div class="col-md-12 mb-4">
                        <form novalidate #form="ngForm" class="form-horizontal">

                        </form>
                    </div><!--/.col-->
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>