// Here you can add other styles
.sidebar .nav-dropdown.open > .nav-dropdown-items .nav-item a{
  padding-left: 30px;
}

.loading-over {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1060;
  text-align: center;
}

.loading-over div{
  display: block;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  margin: auto;
  border-radius: 5px;
  color: #20a8d8;
  font-size: 32px;
}

.sidebar .nav-link.active {
  background: #0000004a;
}